@model WebAppVSEAT.Models.HomePageVM

@{
    ViewData["Title"] = "Index";
}

<p>
        <h1 style="font-family: 'Palatino Linotype'; text-align: center;" >Welcome to VSEat</h1>
</p>

<p>
    <center>
        <h3>All of the Restaurants available in our app</h3>
    </center>
</p>

<div class="containerHomePage">


    @foreach (var item in Model.restaurantVMS)
    {
        string imageUrl = "Images/Restaurant/" + item.IDRESTAURANT + ".jpg";

        <div class="containerColumnHomePage">
            <img src="~/@imageUrl" alt="@Html.DisplayFor(modelItem => item.IDRESTAURANT)" width="250" height="250" />
            <h4>
                @Html.ActionLink(item.NAMERESTAURANT, "Details", "Restaurant", new { id = item.IDRESTAURANT }, null)
            </h4>
            <h4>
                @Html.DisplayFor(modelItem => item.ADDRESSRESTAURANT)
            </h4>
            <h4>
                @Html.DisplayFor(modelItem => item.CITYNAME)
            </h4>
        </div>

    }

</div>


<p>
    <center>
        <h3>All of the Dishes available in our app</h3>
    </center>
</p>



<div class="containerHomePage">

    @foreach (var item in Model.dishesVMS)
    {
        string imageUrl = "Images/Dishes/" + item.IDDISHES + ".jpg";

        <div class="containerColumnHomePage">

            <img src="~/@imageUrl" alt="@Html.DisplayFor(modelItem => item.IDDISHES)" width="250" height="250" />

            <h3>@Html.DisplayFor(modelItem => item.NAMEDISH)</h3>
            <h3>@Html.DisplayFor(modelItem => item.PRICEDISH) CHF</h3>
            @*@Html.ActionLink("Order", "TakeAnOrder", "Restaurant", new { id = item.IDRESTAURANT }, null)*@       
        </div>
    }

</div>

