@model IEnumerable<WebAppVSEAT.Models.RestaurantVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @using (@Html.BeginForm("Index", "HomePage", FormMethod.Get))
    {
        <b>Search by :</b> @Html.RadioButton("searchBy", "Restaurant", true) <text>Restaurant</text>
        @Html.RadioButton("searchBy", "Dishes", true) <text>Dishes</text>
        @Html.RadioButton("searchBy", "District", true) <text>District</text>
        <br />
        @Html.TextBox("search") <input type="submit" class="btn" value="search" />
    }


</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDRESTAURANT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CITYNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAMERESTAURANT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESSRESTAURANT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDRESTAURANT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CITYNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NAMERESTAURANT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDRESSRESTAURANT)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
