@model WebAppVSEAT.Models.CustomerDetailOrderVM

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "TakeAnOrderConfirmation";
}
<div>
    <h3>Your command at @Model.NAMERESTAURANT in @Model.CITYNAME</h3>
    <h3>Delivery Time : @Model.DELIVERTIME</h3>
    <h3>Order number : @Model.IDORDER</h3>

</div>

    <div class="cards">

        @foreach (var item in Model.orderDishes)
        {
            string imageUrl = "/Images/Dishes/" + item.IDDISHES + ".jpg";

            <div class="cards__item">

                <img src="@imageUrl" alt="@Html.DisplayFor(modelItem => item.IDDISHES)" width="250" height="250" />

                <h1>@Html.DisplayFor(modelItem => item.NAMEDISH)</h1>
                <h1>@Html.DisplayFor(modelItem => item.PRICEDISH) CHF</h1>
                <h1>@Html.DisplayFor(modelItem => item.QUANTITY)x</h1>
                <p>
            </div>
        }
    </div>

    <tfoot>
        <tr>
            <h1>
            <td colspan="3"><span style='font-weight:bold;'>Total : @Model.totalPrice CHF</span></td>
            </h1>
        </tr>
        <td>
            <h1>
                @Html.ActionLink("Cancel Order", "CancelOrderID", new { id = Model.IDORDER })
            </h1>
            <h1>
                @Html.ActionLink("Edit Order", "EditOrder", new { id = Model.IDORDER })
            </h1>
        </td>
    </tfoot>

