@model WebAppVSEAT.Models.EditOrderVM
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "EditOrder";
}

<h1>Your command at @Model.NAMERESTAURANT</h1>
<form asp-action="EditOrder">
    <div asp-validation-summary="All" class="text-danger"></div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.orderDishes.First().NAMEDISH)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.orderDishes.First().PRICEDISH)
                </th>
                <th>
                    Quantity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.orderDishes.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.orderDishes[i].NAMEDISH)
                        @Html.HiddenFor(modelItem => Model.orderDishes[i].NAMEDISH)
                        @Html.HiddenFor(modelItem => Model.orderDishes[i].IDDISHES)
                        @Html.HiddenFor(modelItem => Model.orderDishes[i].IDRESTAURANT)
                        @Html.HiddenFor(modelItem => Model.IDRESTAURANT)
                        @Html.HiddenFor(modelItem => Model.IDORDER)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.orderDishes[i].PRICEDISH)
                        @Html.HiddenFor(modelItem => Model.orderDishes[i].PRICEDISH)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => Model.orderDishes[i].QUANTITY)
                        @Html.HiddenFor(modelItem => Model.orderDishes[i].QUANTITY)
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <input class="btn" type="submit" value="Confirm order" />
    <br />

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}