@model IEnumerable<WebAppVSEAT.Models.OrderVM>

@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutOrder.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDORDER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TOTALPRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SURNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DELIVERTIME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATUS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDORDER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TOTALPRICE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SURNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDRESS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CITY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NPA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHONE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DELIVERTIME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATUS)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDORDER })
                    @Html.ActionLink("Archive", "Archive", new { id = item.IDORDER })
                </td>
            </tr>
        }
    </tbody>
</table>
