@model IEnumerable<WebAppVSEAT.Models.CustomerOrderVM>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDORDER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DELIVERTIME)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDORDER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DELIVERTIME)
            </td>
            <td>
                @Html.ActionLink("CancelOrder", "CancelOrderID", new { id=item.IDORDER })
            </td>
        </tr>
}
    </tbody>
</table>
