@model WebAppVSEAT.Models.DishesVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDDISHES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAMEDISH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRICEDISH)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dishes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDDISHES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAMEDISH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICEDISH)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Add", "Add", new { id = item.IDDISHES })
            </td>
        </tr>
}
    </tbody>
</table>
