@model IEnumerable<RestaurantVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CITYNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAMERESTAURANT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESSRESTAURANT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CITYNAME)
            </td>
            <td>
                @Html.ActionLink(item.NAMERESTAURANT, "Details2", new { id=item.IDRESTAURANT })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDRESSRESTAURANT)
            </td>
        </tr>
}
    </tbody>
</table>
