@model IEnumerable<RestaurantVM>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.NAMERESTAURANT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESSRESTAURANT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CITYNAME)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.NAMERESTAURANT, "Details", new { id = item.IDRESTAURANT })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDRESSRESTAURANT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CITYNAME)
            </td>
        </tr>
}


    </tbody>
</table>
