@model IEnumerable<RestaurantVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="masonry-grid">

    @foreach (var item in Model)
    {

        string imageUrl = "/Images/Restaurant/" + item.IDRESTAURANT + ".jpg";

        <div class="masonry-grid__item" >
                <img src="@imageUrl" alt="@Html.DisplayFor(modelItem => item.IDRESTAURANT)" width="250" height="250" />
                <h2>
                    @Html.ActionLink(item.NAMERESTAURANT, "Details", new { id = item.IDRESTAURANT })
                </h2>
                <h4>
                    @Html.DisplayFor(modelItem => item.ADDRESSRESTAURANT)
                </h4>
                <h4>
                    @Html.DisplayFor(modelItem => item.CITYNAME)
                </h4>
        </div>
        <br />
    }

</div>







